<div class="card mb-2">
    <div class="card-body">
        <div class="mb-3 border-bottom">
            <a class="nav-link profile-link p-0 text-dark" data-page="settings" href="">
                <h5>Account Info <span><i class="fas fa-chevron-circle-right float-right"></i></span></h5>
                <small>Email Address, Phone, Password ...</small>
            </a>
        </div>
        <div class="mb-3 border-bottom">
            <a class="nav-link profile-link p-0 text-dark" data-page="payment" href="">
                <h5>Payment Info <span><i class="fas fa-chevron-circle-right float-right"></i></span></h5>
                <small>Credit Cards, Bank Accounts ...</small>
            </a>
        </div>
        <div class="mb-3 border-bottom">
            <a class="nav-link profile-link p-0 text-dark" data-page="notification" href="">
                <h5>Notifications Info <span><i class="fas fa-chevron-circle-right float-right"></i></span></h5>
                <small>Email Notifications ...</small>
            </a>
        </div>
    </div>
</div>