{% extends 'main/base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid font-normal bg-light">
    <div class="container">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
            <div class="card mt-4 mb-4 p-4">
                <div class="card-body">
                    <div class="col-md-6 offset-md-6 col-lg-4 offset-lg-4">
                        <img class="img-fluid" src="{% static 'main/img/logo_color.svg' %}" alt="">
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset>
                            {{ form|crispy }}
                            <div class="form-group">
                                {{ form2.country|as_crispy_field }}
                            </div>

                            <div class="form-group">
                                {{ form2.phone.errors}}
                                {{ form2.phone.label_tag}}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Country Code</span>
                                    </div>
                                    {{ form2.phone }}
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary form-control" id="signup" type="submit">Sign Up</button>
                            </div>
                        </fieldset>
                    </form>
                    <div>
                        <a class="btn btn-info col-md-12" href="{% url 'main-login' %}">Have Account? Log In!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        let country = document.querySelector('#id_country');
        let phone = document.querySelector('#inputGroup-sizing-default');
        let signup = document.querySelector('#signup');
        let email = document.querySelector('#id_email');

        country.onchange = () => {
            const request = new XMLHttpRequest();
            request.open('GET', 'https://restcountries.eu/rest/v2/alpha/'+ country.value);
            request.responseType = "json";
            request.onload = () => {
                const response = request.response;
                let val = response['callingCodes'];
                if(request.status !== 200) {
                    phone.innerHTML = '';
                    signup.disabled = true;
                } else {
                    phone.innerHTML = '+' + val;
                    signup.disabled = false;
                }
            };
            request.send();
        };

        email.onchange = () => {
            email.value = email.value.toLowerCase()
        };

    })
</script>
{% endblock %}