<footer>
    <div class="container-fluid bg-purple">
        <div class="container font-normal-2">
            <div class="row">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-gold" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-gold" href="#">SECURITY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-gold" href="#">PRESS & MEDIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-gold" href="#">FEES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-gold" href="#">SUPPORT</a>
                    </li>
                </ul>
            </div>
            <div class="row text-white mt-2">
                <h6 class="font-normal">Use of this Website is subject to our Terms and Conditions and Privacy Policy including our use of cookies.  By clicking any link on this page you consent to the use of cookies.</h6>
            </div>
        </div>
        <div class="row text-white border-top mt-4">
            <div class="container font-normal mb-2 mt-2">
                <h6>Copyright 2018 Quote</h6>
            </div>
        </div>
    </div>


    <!--<nav class="navbar navbar-dark navbar-expand bg-purple">-->
    <!--<div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
    <!--<div class="navbar-nav">-->
    <!--<a class="nav-item nav-link nav-link-gold" href="#">Transfer Money</a>-->
    <!--<a class="nav-item nav-link nav-link-gold" href="#">Receive Money</a>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="navbar-nav ml-auto">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-item nav-link nav-link-gold border border-warning mr-2 mb-sm-1" href="#">Login </a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-item nav-link nav-link-gold border border-warning mr-2 mb-sm-1" href="#">Sign Up</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</nav>-->
</footer>