{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    {% if title %}
      <title>Quote | {{ title }}</title>
      {% else %}
      <title>Quote | Fast Transactions </title>
      {% endif %}
  </head>
        <div class="card font-normal">
            <a class="nav-link" style="display: none;" href="{% url 'myaccount-payment' %}" id="profilelink">Back to Profile</a>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 border-bottom border-top" id="profilepage">
                        <h5>Payment Information</h5>
                        <div class="row">
                            <div class="col-md-3 p-2 border-top">
                                <h4>Cards</h4>
                            </div>
                            <div class="col-md-9 p-2  border-top">
                                    <a class="nav-link" href="{% url 'myaccount-add-card' %}"><i class="fas fa-plus-circle"></i> Add a New Card</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 p-2 border-top">
                                <h4>Banks</h4>
                            </div>
                            <div class="col-md-9 p-2 border-top">
                                    <a class="nav-link" href="#"><i class="fas fa-plus-circle"></i> Add a New Bank</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          let url = document.referrer;
          let url2 = window.location.href
          if (url.split('/payment/').length > 1 || url2.split('/payment/').length > 1){
              document.querySelector('#profilelink').style.display = 'none';
          }else{
              document.querySelector('#profilelink').style.display = 'block';
          }
      });
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>