{% extends 'myaccount/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.8/purify.min.js"></script>
<div class="container-fluid font-normal">
    <br>
    <div class="container">
        <h2 class="border-bottom text-center">Receive Payments Instantly</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="text-center mt-4">
                    <div class="bg-dark" style="border-radius: 4%;">
                      <img src="{% url 'myaccount-qr-image' %}" class="img-responsive img-thumbnail col-md-11 mt-4 rounded" alt="Quote barcode" id="qr-code">
                        <br>
                      <p class="text-left ml-4 mt-2 p-3"><i class="fas fa-mobile-alt fa-2x" style="color:white"></i><span class="text-white font-weight-bold p-2"> Scan Me</span></p>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="amount" value="" class="form-control" id="amount" autocomplete="off" placeholder="Enter Amount">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="Enter Details About Payment (Optional)" id="detail"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-info form-control" id="generate">Generate Quote</button>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<script src="{% static 'myaccount/js/qr.js' %}"></script>
{% endblock %}