{% extends 'myaccount/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid font-normal">
        <div class="container mt-3">
            <h3 class="border-bottom text-center">Send Money and Make Payments</h3>
        </div>
        <div class="container mt-4">
            <div class="col-md-6 offset-md-3 col-sm-12 text-center">
                {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error'%}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
                <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="card bg-light small mb-2" id="emailValidate" style="display: none">
                    <div class="card-body">
                        <span class="text-danger">Please Enter a valid Email Address (someone@example.com)</span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg" id="nextButton" type="submit">Next</button>
                </div>
            </form>
            </div>
        </div>
    </div>
<script src="{% static 'myaccount/js/sendpage.js' %}"></script>
{% endblock %}