{% extends 'myaccount/base.html' %}
{% block content %}
    <div class="container-fluid font-normal bg-gray">
        <div class="container mb-4 mt-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h4>Balance</h4>
                            <p>100.00 USD</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <a href="#">Add New Card</a>
        </div>
        <div style="height:50vh;"></div>
    </div>
{% endblock %}