@import url('https://fonts.googleapis.com/css?family=Concert+One|Titillium+Web|Raleway');

body {
    font-family: 'Concert One', 'cursive';
    height: 100%;
}

footer {

}

.nav-link-gold {
    color: white!important;
    font-size: 17px;
}

.nav-link-gold:hover {
    color: gold!important;
}

.bg-purple {
    background-color: purple;
}

.home-lg {
    position: relative;
    width: 100%;
    text-align: center;
}

.text-home-lg {
    color: white;
    font-family: 'Titillium Web', 'sans-serif';
    position: absolute;
    top: 40%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -40%);
}

.text-home-lg h1 {
    text-align: center;
}

.text-home-lg p {
    text-align: center;
}

.small-home-lg {
    letter-spacing: 1px;
    font-size: 2vw;
}

.parallax {
    height: 500px;
    background: url("../img/home-lg1.jpg") no-repeat fixed center;
    background-size: cover;
}

.parallax2 {
    height: 150px;
    background: url("../img/step1-home.jpg") no-repeat fixed center;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
    .parallax2 {
        background-attachment: scroll;
    }
}

@media only screen and (max-device-width: 1366px) {
    .parallax2 {
        display: none;
    }
}

.font-normal {
    font-family: 'Raleway','sans-serif';
    padding: 2px;
}

.font-normal-2 {
    font-family: 'Raleway','sans-serif';
    font-size: 10px;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
    border: solid black 2px;
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.lds-default div:nth-child(2) {
    border: solid black 2px;
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.lds-default div:nth-child(3) {
    border: solid black 2px;
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.lds-default div:nth-child(4) {
    border: solid black 2px;
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.lds-default div:nth-child(5) {
    border: solid black 2px;
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.lds-default div:nth-child(6) {
    border: solid black 2px;
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.lds-default div:nth-child(7) {
    border: solid black 2px;
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.lds-default div:nth-child(8) {
    border: solid black 2px;
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.lds-default div:nth-child(9) {
    border: solid black 2px;
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.lds-default div:nth-child(10) {
    border: solid black 2px;
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.lds-default div:nth-child(11) {
    border: solid black 2px;
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.lds-default div:nth-child(12) {
    border: solid black 2px;
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.main-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: yellow;
}
.dropdown-menu{
  top: 60px;
  right: 0px;
  left: unset;
  width: 25%;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding: 0px;
    margin-right: 20px;
}
.dropdown-menu:before{
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  border:10px solid #17a2b8;
  border-color: transparent transparent #17a2b8 transparent;
}
.head{
  padding:5px 15px;
  border-radius: 3px 3px 0px 0px;
}
.footer{
  padding:5px 15px;
  border-radius: 0px 0px 3px 3px;
}
.notification-box{
  padding: 10px 0px;
}
.dropdown-menu li:nth-child(2n+0) {
  background-color: #fafafa;
}
.bg-gray{
  background-color: #eee;
}
@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;
      width: 290px;
    }
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}

.tr-row {
    cursor: pointer;
}